@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Actor&family=Orbitron&family=Philosopher:ital@1&family=Titillium+Web&display=swap');

/*
font-family: 'Actor', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Titillium Web', sans-serif;
*/

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #f7f7f7;
    --cor1: #070707;
}

html {
    color: #55ff55;
    font-family: 'Actor', sans-serif;
    font-weight: bold;
}

body {
    background-image: url('Universo.jpg');
}

main {
    background-color: rgba(15,15,15,0.95);
    max-width: 600px;
    margin: 70px auto;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0px 0px 1px #55FF55;
}

header h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 20px;
}

fieldset {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #55ff55
}

fieldset input {
    margin: 3px 10px;
    background-color: rgba(15,15,15,0);
    color: #55FF55;
}

div#display {
    border: 1px solid #55ff55;
    padding: 5px;
    border-radius: 3px;
}

option, select {
    color: #55FF55;
    background-color: #070707; 
}

footer {
    text-align: center;
    margin-top: 50px;
}

.botao {
    padding: 3px 7px;
    border-radius: 3px;
    margin: 10px 0px;
    background-color: #070707;
    color: #55ff55;
    font-family: 'Orbitron', sans-serif;
}

.autor {
    font-family: 'Philosopher', sans-serif;
}

.credito {
    font-size: 0.7em;
}